@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Fortune park A-20-1<br />
   Serdang, Kuala Lumpur<br />
    <abbr title="Phone">P:</abbr>
    0178805984
</address>

<address>
    <strong>Developing:</strong>   <a href="mailto:Support@example.com">china.cqy@outlook.com</a><br />
</address>