@{
    ViewBag.Title = "DACOLA";
}

<div class="jumbotron">
    @*<h1>DACOLA</h1>*@
    <p class="lead">DACOLA web portal is your best choice to design surveys</p>
    <img src="~/Content/images/Homepage.jpg" width="1000" height="480" />
</div>

